body{
    margin-top: 50px;
    margin-left: 20px;
    background-color: #f7fbe1;
}
table,th,tr,td{
   border : 1px solid black;
   border-collapse: collapse;
}
label,input{
    padding: 0px !important;
    margin:0px !important;
}
input{
    margin-bottom: 4px !important;
}
h3{
    text-align: center;
}